# PNAO auth settings
PNAO_BASE_URL=
PNAO_USERNAME=
PNAO_PASSWORD=

# PostgreSQL settings
# DATABASE_URL setting expect an uri: postgresql://user:password@host:port/database?application_name=pnao_client
DATABASE_URL=
DB_SCHEMA=